@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  list-style: none;

  border: 0;
  outline: 0;
}

body {
  background: linear-gradient(180deg, #2A2A2A 0%, #1E1E1E 100%);
  background-repeat: no-repeat;
  min-height: 100dvh;
}